
#background {
    background-image: url(./assets/images/city1.jpg);
    background-size: 100%;
    color: white;
}

#searchForm {
    text-align: center;
    margin: auto;
    margin-top: 50vh;
    color: white;
}

#search {
    background-color: transparent;
    border-radius: 30px 30px 30px 30px;
    color: white;
    border-width: 2px;
}


  input::-webkit-input-placeholder {
    color: white !important;
    text-align: center;
    }
     
    input:-moz-placeholder { /* Firefox 18- */
    color: white !important; 
    text-align: center; 
    }
     
    input::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;  
    text-align: center;
    }
     
    input:-ms-input-placeholder {  
    color: white !important;
    text-align: center;
    }

  #sites {
    border-radius: 30px 30px 30px 30px;
    background-color: transparent;
    color: #7f7f7f;
    border-color: #7f7f7f;
  }

  #restaurants {
    border-radius: 30px 30px 30px 30px;
    background-color: transparent;
    color: #7f7f7f;
    border-color: #7f7f7f; 
 }

  #bars {
    border-radius: 30px 30px 30px 30px;
    background-color: transparent;
    color: #7f7f7f;
    border-color: #7f7f7f;
  }

.lead {
    font-size: 35px;
    font-kerning: 3%;
}

#tableButtons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#map {
    height: 400px;
    background-color: black;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
}

#parallax { 
    /* The image used */
    background-image: url("./assets/images/aerial-aerial-view-architecture-681336.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#mainContent {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 80px;
    max-width: 100%;
}

#searchFormHome {
    float: right;
    margin-top: 10px;
    color: #7f7f7f;
}

#header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 100px;
    max-width: 100%;
}

#weather {
    padding: 150px;
}

#weatherContainer {
    background-color: rgba(0,0,0,0.7);
    max-width: 100%;
}

#day1 {
    width: 200px;
    height: 300px;
    background-color: black;
    opacity: 100%;
    float: left;    
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

#day2 {
    width: 200px;
    height: 300px;
    background-color: black;
    opacity: 100%;
    float: left;    
    margin-right: 20px;
    margin-top: 20px;
}

#day3 {
    width: 200px;
    height: 300px;
    background-color: black;
    opacity: 100%;
    float: left;    
    margin-right: 20px;
    margin-top: 20px;
}

#day4 {
    width: 200px;
    height: 300px;
    background-color: black;
    opacity: 100%;
    float: left;    
    margin-right: 20px;
    margin-top: 20px;
}

#day5 {
    width: 200px;
    height: 300px;
    background-color: black;
    opacity: 100%;
    float: left;    
    margin-top: 20px;
}

#dayTitle1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

#dayTitle2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

#dayTitle3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

#dayTitle4 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

#dayTitle5 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

#weatherIcon1 {
    max-width: 130px;
    margin-left: 35px;
    margin-bottom: 20px;
}

#weatherIcon2 {
    max-width: 130px;
    margin-left: 35px;
    margin-bottom: 20px;
}

#weatherIcon3 {
    max-width: 130px;
    margin-left: 35px;
    margin-bottom: 20px;
}

#weatherIcon4 {
    max-width: 130px;
    margin-left: 35px;
    margin-bottom: 20px;
}

#weatherIcon5 {
    max-width: 130px;
    margin-left: 35px;
    margin-bottom: 20px;
}

#temp {
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#weatherTitle {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

h1 {
    font-family: 'Playfair Display', serif;
}

#title {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}
