#background {
    background-image: url(./assets/images/city1.jpg);
    background-size: 100%;
    color: white;
    background-repeat: no-repeat;
}

#searchForm {
    text-align: center;
    margin: auto;
    margin-top: 50vh;
    color: white;
}

#search {
    background-color: white;
    border-radius: 30px 0px 0px 30px;
    border-width: 2px;
}

.form-control {
    border-color: white;
}

.form-control1 {
    border-color: #7f7f7f;
    border-width: 1px;
}

#searchButton {
    background-image: url('./assets/images/Binoculars.png');
    background-color: white;
    background-size: 40px;
    border-radius: 0px 30px 30px 0px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 2px;
}

#searchButtonHome {
    background-image: url('./assets/images/Binoculars.png');
    background-color: white;
    background-size: 30px;
    border-radius: 0px 30px 30px 0px;
    width: 50px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 8px;
    border-color: #7f7f7f;
    margin-top: 10px;
    border-width: 2px;
    border-left: 0px;
}



#searchFormHome {
    float: right;
    border-radius: 30px 0px 0px 30px;
    border-width: 2px;
    margin-top: 10px;
    color: #7f7f7f;
    border-color: #7f7f7f;
    border-right: 0px;
    border-right-color: white;
}


  input::-webkit-input-placeholder {
    color: black !important;
    text-align: center;
    }
     
    input:-moz-placeholder { /* Firefox 18- */
    color: black !important; 
    text-align: center; 
    }
     
    input::-moz-placeholder {  /* Firefox 19+ */
    color: black !important;  
    text-align: center;
    }
     
    input:-ms-input-placeholder {  
    color: black !important;
    text-align: center;
    }
    input:-webkit-autofill {
        -webkit-box-shadow: inset 0 0 0px 9999px black;
    }

  #sites {
    border-radius: 30px 30px 30px 30px;
    background-color: transparent;
    color: #7f7f7f;
    border-color: #7f7f7f;
  }

  #restaurants {
    border-radius: 30px 30px 30px 30px;
    background-color: transparent;
    color: #7f7f7f;
    border-color: #7f7f7f; 
 }

  #bars {
    border-radius: 30px 30px 30px 30px;
    background-color: transparent;
    color: #7f7f7f;
    border-color: #7f7f7f;
  }

.lead {
    font-size: 35px;
    font-kerning: 3%;
}

#tableButtons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#map {
    height: 400px;
    background-color: black;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
}

#parallax { 
    /* The image used */
    background-image: url("./assets/images/aerial-aerial-view-architecture-681336.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#mainContent {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 80px;
    max-width: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 100px;
    max-width: 100%;
}

#weather {
    padding: 150px;
}

#weatherContainer {
    background-color: rgba(0,0,0,0.7);
    max-width: 100%;
}

#day1 {
    width: 200px;
    height: 300px;
    background-color: black;
    opacity: 100%;
    float: left;    
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

#day2 {
    width: 200px;
    height: 300px;
    background-color: black;
    opacity: 100%;
    float: left;    
    margin-right: 20px;
    margin-top: 20px;
}

#day3 {
    width: 200px;
    height: 300px;
    background-color: black;
    opacity: 100%;
    float: left;    
    margin-right: 20px;
    margin-top: 20px;
}

#day4 {
    width: 200px;
    height: 300px;
    background-color: black;
    opacity: 100%;
    float: left;    
    margin-right: 20px;
    margin-top: 20px;
}

#day5 {
    width: 200px;
    height: 300px;
    background-color: black;
    opacity: 100%;
    float: left;    
    margin-top: 20px;
}

#dayTitle1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

#dayTitle2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

#dayTitle3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

#dayTitle4 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

#dayTitle5 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

#weatherIcon1 {
    max-width: 130px;
    margin-left: 35px;
    margin-bottom: 20px;
}

#weatherIcon2 {
    max-width: 130px;
    margin-left: 35px;
    margin-bottom: 20px;
}

#weatherIcon3 {
    max-width: 130px;
    margin-left: 35px;
    margin-bottom: 20px;
}

#weatherIcon4 {
    max-width: 130px;
    margin-left: 35px;
    margin-bottom: 20px;
}

#weatherIcon5 {
    max-width: 130px;
    margin-left: 35px;
    margin-bottom: 20px;
}

#temp1 {
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#temp2 {
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#temp3 {
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#temp4 {
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#temp5 {
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#weatherTitle {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

h1 {
    font-family: 'Playfair Display', serif;
}

#title {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}


#titleHome {
    margin-top: 10px;
}

#mediaQueryBreak1 {
    display: none;
}

@media screen and (max-width: 1400px) {
    #day5 {
        width: 150px;
        height: 200px;
        background-color: black;
        opacity: 100%;
        float: left;    
        margin-right: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }

    #dayTitle5 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: white;
        font-size: 20px;
    }

    #weatherIcon5 {
        max-width: 95px;
        margin-left: 27.5px;
        margin-bottom: 0px;
    }
    
    #temp {
        color: white;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    
    #day4 {
        width: 150px;
        height: 200px;
        background-color: black;
        opacity: 100%;
        float: left;    
        margin-right: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }

    #dayTitle4 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: white;
        font-size: 20px;
    }

    #weatherIcon4 {
        max-width: 95px;
        margin-left: 27.5px;
        margin-bottom: 0px;
    }

    #day3 {
        width: 150px;
        height: 200px;
        background-color: black;
        opacity: 100%;
        float: left;    
        margin-right: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }

    #dayTitle3 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: white;
        font-size: 20px;
    }

    #weatherIcon3 {
        max-width: 95px;
        margin-left: 27.5px;
        margin-bottom: 0px;
    }

    #day2 {
        width: 150px;
        height: 200px;
        background-color: black;
        opacity: 100%;
        float: left;    
        margin-right: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }

    #dayTitle2 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: white;
        font-size: 20px;
    }

    #weatherIcon2 {
        max-width: 95px;
        margin-left: 27.5px;
        margin-bottom: 0px;
    }

    #day1 {
        width: 150px;
        height: 200px;
        background-color: black;
        opacity: 100%;
        float: left;    
        margin-right: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }

    #dayTitle1 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: white;
        font-size: 20px;
    }

    #weatherIcon1 {
        max-width: 95px;
        margin-left: 27.5px;
        margin-bottom: 0px;
    }

    #weatherContainer {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 1250px) {
    #weatherContainer {
        display: flex;
        justify-content: center;
    }

    #day5 {
        width: 150px;
        height: 200px;
        background-color: black;
        opacity: 100%;
        float: left;    
        margin-right: 0px;
        margin-top: 20px;
        margin-left: 20px;
    }

    #dayTitle5 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: white;
        font-size: 20px;
    }

    #weatherIcon5 {
        max-width: 95px;
        margin-left: 27.5px;
        margin-bottom: 0px;
    }
    
    #temp {
        color: white;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    
    #day4 {
        width: 150px;
        height: 200px;
        background-color: black;
        opacity: 100%;
        float: left;    
        margin-right: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }

    #dayTitle4 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: white;
        font-size: 20px;
    }

    #weatherIcon4 {
        max-width: 95px;
        margin-left: 27.5px;
        margin-bottom: 0px;
    }

    #day3 {
        width: 150px;
        height: 200px;
        background-color: black;
        opacity: 100%;
        float: left;    
        margin-right: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }

    #dayTitle3 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: white;
        font-size: 20px;
    }

    #weatherIcon3 {
        max-width: 95px;
        margin-left: 27.5px;
        margin-bottom: 0px;
    }

    #day2 {
        width: 150px;
        height: 200px;
        background-color: black;
        opacity: 100%;
        float: left;    
        margin-right: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }

    #dayTitle2 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: white;
        font-size: 20px;
    }

    #weatherIcon2 {
        max-width: 95px;
        margin-left: 27.5px;
        margin-bottom: 0px;
    }

    #day1 {
        width: 150px;
        height: 200px;
        background-color: black;
        opacity: 100%;
        float: left;    
        margin-right: 20px;
        margin-top: 20px;
        margin-left: 0px;
    }

    #dayTitle1 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: white;
        font-size: 20px;
    }

    #weatherIcon1 {
        max-width: 95px;
        margin-left: 27.5px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 1210px) {
    #weatherContainer {
        max-width: 100vw;
    }

    #weather {
        padding-left: 40px;
        padding-right: 40px;
    }
}  

@media screen and (max-width: 990px) {
    #day1 {
        margin-left: 20px;
    }

    #header {
    }
}

@media screen and (max-width: 455px) {
    #weather {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
